.App {
    font-family: "Arial", Serif;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #000000;
    overflow: hidden;
    height: 60px;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: #000;
}

.navbar ul {
    margin: 8px 0 0 0;
    list-style: none;
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.side-nav a {
    font-size: 22px;
    text-decoration: none;
    padding: 10px 10px 10px 30px;
    color: #ccc;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover {
    color: #fff;
}

.side-nav .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 33px;
    margin-left: 50px;
    cursor: pointer;
}

.map {
    transition: margin-left 0.5s;
    overflow:hidden;
    height:100%;
}

.map .gMap{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    overflow: hidden;
}

.mainSearch{
    display: block;
}

.search-locations {
    width: 100%;
    padding: 15px 20px 15px 64px;
    margin-top: 3px;
    background-size: 1.2em;
    background-image: url('./icons/search.svg');
    background-repeat: no-repeat;
    background-position: 20px center;
    font-size: 1em;
    border: 0;
    outline: none;
}

.showing-locations {
    text-align: center;
    margin: 20px 0;
    color: #fff
}

.locations-list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.locations-list-item {
    padding: 10px;
    background: #111;
    display: flex;
    color: #ccc;
    text-align: center;
}

.location-details {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.showing-locations button {
    color: #2abbcb;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: inherit;
}

.open-slide a {
    cursor: pointer
}

.locationName{
    margin: auto;
    text-align: center;
    font-weight: bold;
    color: #a9a9a9;
    padding-top: 1px;
    padding-bottom: 5px;
    word-wrap: break-word;
    width: 100px;
}

.mapContainer{
    height: 600px;
}

@media screen and (min-width: 1024px) {
    .mapContainer{
        height: 600px;
    }
}

@media screen and (min-width: 1440px) {
    .mapContainer{
        height: 740px;
    }
}